<h3> <%= @tweet.user.username %> tweeted:</h3>

<p> <%= @tweet.content %> </p>

<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete This Tweet">
</form>